In [203]:
import pandas as pds
import seaborn as sbn
import numpy as npy
import matplotlib.pyplot as plb
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report


data_heart = pds.read_csv('heart.csv')
data_heart

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [193]:
data_heart.shape

(303, 14)

In [194]:
data_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [195]:
data_heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [196]:
data_heart.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [222]:
#_scaling = StandardScaler()
#x_scaled = _scaling.fit_transform(x_scaled)
#y_scaled = _scaling.fit_transform(y_scaled)

x = data_heart.drop(columns='target')
y = data_heart['target']

x_scaled = StandardScaler().fit_transform(x)

data_scaled = pds.DataFrame(x_scaled, columns=data_heart.columns.drop(['target']))

data_scaled

          age       sex        cp  ...     slope        ca      thal
0    0.952197  0.681005  1.973123  ... -2.274579 -0.714429 -2.148873
1   -1.915313  0.681005  1.002577  ... -2.274579 -0.714429 -0.512922
2   -1.474158 -1.468418  0.032031  ...  0.976352 -0.714429 -0.512922
3    0.180175  0.681005  0.032031  ...  0.976352 -0.714429 -0.512922
4    0.290464 -1.468418 -0.938515  ...  0.976352 -0.714429 -0.512922
..        ...       ...       ...  ...       ...       ...       ...
298  0.290464 -1.468418 -0.938515  ... -0.649113 -0.714429  1.123029
299 -1.033002  0.681005  1.973123  ... -0.649113 -0.714429  1.123029
300  1.503641  0.681005 -0.938515  ... -0.649113  1.244593  1.123029
301  0.290464  0.681005 -0.938515  ... -0.649113  0.265082  1.123029
302  0.290464 -1.468418  0.032031  ... -0.649113  0.265082 -0.512922

[303 rows x 13 columns]

In [224]:
result_log = sm.Logit(y, sm.add_constant(data_scaled)).fit()

print(result_log.summary())

Optimization terminated successfully.
         Current function value: 0.348904
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      289
Method:                           MLE   Df Model:                           13
Date:                Sat, 10 Apr 2021   Pseudo R-squ.:                  0.4937
Time:                        01:18:16   Log-Likelihood:                -105.72
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 7.262e-37
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1165      0.183      0.636      0.524      -0.242       0.475
age           -0.0445      0.210     -0.212      0.832      -0.456       0.367
sex           -0.8180      0.218     -3.751      0.000      -1.245      -0.391
cp             0.8859      0.191      4.638      0.000       0.512       1.260
trestbps      -0.3410      0.181     -1.884      0.060      -0.696       0.014
chol          -0.2396      0.196     -1.224      0.221      -0.623       0.144
fbs            0.0124      0.188      0.066      0.947      -0.357       0.381
restecg        0.2448      0.183      1.339      0.181      -0.114       0.603
thalach        0.5308      0.239      2.219      0.026       0.062       1.000
exang         -0.4596      0.192     -2.391      0.017      -0.836      -0.083
oldpeak       -0.6263      0.248     -2.526      0.012      -1.112      -0.140
slope          0.3564      0.215      1.656      0.098      -0.065       0.778
ca            -0.7895      0.195     -4.051      0.000      -1.171      -0.408
thal          -0.5504      0.177     -3.104      0.002      -0.898      -0.203
==============================================================================

In [226]:
data_var_sig = data_scaled.drop(columns=['age', 'trestbps', 'chol', 'fbs', 'restecg', 'slope'])

data_var_sig.head()

        sex        cp   thalach     exang   oldpeak        ca      thal
0  0.681005  1.973123  0.015443 -0.696631  1.087338 -0.714429 -2.148873
1  0.681005  1.002577  1.633471 -0.696631  2.122573 -0.714429 -0.512922
2 -1.468418  0.032031  0.977514 -0.696631  0.310912 -0.714429 -0.512922
3  0.681005  0.032031  1.239897 -0.696631 -0.206705 -0.714429 -0.512922
4 -1.468418 -0.938515  0.583939  1.435481 -0.379244 -0.714429 -0.512922

In [228]:
result_log = sm.Logit(y, sm.add_constant(data_var_sig)).fit()

print(result_log.summary())

Optimization terminated successfully.
         Current function value: 0.368502
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      295
Method:                           MLE   Df Model:                            7
Date:                Sat, 10 Apr 2021   Pseudo R-squ.:                  0.4653
Time:                        01:20:56   Log-Likelihood:                -111.66
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 1.824e-38
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1118      0.174      0.641      0.522      -0.230       0.454
sex           -0.6465      0.189     -3.425      0.001      -1.017      -0.276
cp             0.8111      0.180      4.505      0.000       0.458       1.164
thalach        0.5412      0.202      2.685      0.007       0.146       0.936
exang         -0.4900      0.182     -2.686      0.007      -0.848      -0.132
oldpeak       -0.8585      0.211     -4.061      0.000      -1.273      -0.444
ca            -0.7283      0.178     -4.090      0.000      -1.077      -0.379
thal          -0.5479      0.168     -3.265      0.001      -0.877      -0.219
==============================================================================

In [165]:
#_scaling = StandardScaler()

#data_scaled = pds.DataFrame(_scaling.fit_transform(data_var_sig), columns=data_var_sig.columns)
#data_scaled.head(10)

#x_scaled = data_scaled.drop(columns='target')
#y_scaled = data_scaled['target']

In [244]:
x_train, x_test, y_train, y_test = train_test_split(data_scaled, y, test_size=0.5, random_state=0)

_reg = LogisticRegression()
log_reg = _reg.fit(x_train, y_train)

print(log_reg.intercept_)

[0.19165696]

In [245]:
pred = _reg.predict(x_test)

y_pred_prob = _reg.predict_proba(x_test)[:,1]

data_prob = pds.DataFrame(x_test)
data_prob['prob_value'] = y_pred_prob
data_prob['prob'] = pred

data_prob

          age       sex        cp  ...      thal  prob_value  prob
225  1.724218  0.681005 -0.938515  ...  1.123029    0.024164     0
152  1.062485  0.681005  1.973123  ...  1.123029    0.809692     1
228  0.511041  0.681005  1.973123  ...  1.123029    0.787528     1
201  0.621330  0.681005 -0.938515  ...  1.123029    0.011824     0
52   0.841908  0.681005  1.002577  ...  1.123029    0.045033     0
..        ...       ...       ...  ...       ...         ...   ...
3    0.180175  0.681005  0.032031  ... -0.512922    0.931219     1
161  0.069886 -1.468418  0.032031  ... -0.512922    0.949842     1
125 -2.246179 -1.468418  0.032031  ... -0.512922    0.995647     1
24  -1.584446  0.681005  1.973123  ...  1.123029    0.785534     1
30  -1.474158 -1.468418  0.032031  ... -0.512922    0.986987     1

[152 rows x 15 columns]

In [246]:
print(data_prob['prob'].value_counts())

1    96
0    56
Name: prob, dtype: int64

In [182]:
#pred = _reg.predict(x_test_scaled)

#y_pred_prob = _reg.predict_proba(x_test_scaled)[:,1]

#data_prob = pds.DataFrame(x_test)
#data_prob['pred_value'] = y_pred_prob
#data_prob['prob'] = pred

#data_prob

In [247]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.84      0.68      0.75        69
           1       0.77      0.89      0.83        83

    accuracy                           0.80       152
   macro avg       0.81      0.79      0.79       152
weighted avg       0.80      0.80      0.79       152