In [144]:
import pandas as pds
import seaborn as sbn
import numpy as npy
import matplotlib.pyplot as plb
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report


data_heart = pds.read_csv('heart.csv')
data_heart.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [83]:
data_heart.shape

(303, 14)

In [84]:
data_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [85]:
data_heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [86]:
data_heart.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [87]:
x = data_heart.drop(columns='target')
y = data_heart['target']

result_log = sm.Logit(y, sm.add_constant(x)).fit()

print(result_log.summary())

Optimization terminated successfully.
         Current function value: 0.348904
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      289
Method:                           MLE   Df Model:                           13
Date:                Thu, 08 Apr 2021   Pseudo R-squ.:                  0.4937
Time:                        11:01:25   Log-Likelihood:                -105.72
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 7.262e-37
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.4505      2.571      1.342      0.180      -1.590       8.490
age           -0.0049      0.023     -0.212      0.832      -0.050       0.041
sex           -1.7582      0.469     -3.751      0.000      -2.677      -0.839
cp             0.8599      0.185      4.638      0.000       0.496       1.223
trestbps      -0.0195      0.010     -1.884      0.060      -0.040       0.001
chol          -0.0046      0.004     -1.224      0.221      -0.012       0.003
fbs            0.0349      0.529      0.066      0.947      -1.003       1.073
restecg        0.4663      0.348      1.339      0.181      -0.216       1.149
thalach        0.0232      0.010      2.219      0.026       0.003       0.044
exang         -0.9800      0.410     -2.391      0.017      -1.783      -0.177
oldpeak       -0.5403      0.214     -2.526      0.012      -0.959      -0.121
slope          0.5793      0.350      1.656      0.098      -0.106       1.265
ca            -0.7733      0.191     -4.051      0.000      -1.147      -0.399
thal          -0.9004      0.290     -3.104      0.002      -1.469      -0.332
==============================================================================

In [88]:
data_var_sig = data_heart.drop(columns=['age', 'trestbps', 'chol', 'fbs', 'restecg', 'slope'])

data_var_sig.head()

   sex  cp  thalach  exang  oldpeak  ca  thal  target
0    1   3      150      0      2.3   0     1       1
1    1   2      187      0      3.5   0     2       1
2    0   1      172      0      1.4   0     2       1
3    1   1      178      0      0.8   0     2       1
4    0   0      163      1      0.6   0     2       1

In [89]:
x = data_var_sig.drop(columns='target')
y = data_var_sig['target']

result_log = sm.Logit(y, sm.add_constant(x)).fit()

print(result_log.summary())

Optimization terminated successfully.
         Current function value: 0.368502
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      295
Method:                           MLE   Df Model:                            7
Date:                Thu, 08 Apr 2021   Pseudo R-squ.:                  0.4653
Time:                        11:01:30   Log-Likelihood:                -111.66
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 1.824e-38
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4636      1.482      0.313      0.754      -2.440       3.367
sex           -1.3896      0.406     -3.425      0.001      -2.185      -0.594
cp             0.7872      0.175      4.505      0.000       0.445       1.130
thalach        0.0237      0.009      2.685      0.007       0.006       0.041
exang         -1.0447      0.389     -2.686      0.007      -1.807      -0.282
oldpeak       -0.7406      0.182     -4.061      0.000      -1.098      -0.383
ca            -0.7133      0.174     -4.090      0.000      -1.055      -0.372
thal          -0.8963      0.275     -3.265      0.001      -1.434      -0.358
==============================================================================

In [165]:
#_scaling = StandardScaler()

#data_scaled = pds.DataFrame(_scaling.fit_transform(data_var_sig), columns=data_var_sig.columns)
#data_scaled.head(10)

#x_scaled = data_scaled.drop(columns='target')
#y_scaled = data_scaled['target']

In [179]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=0)

_scaling = StandardScaler()
x_train_scaled = _scaling.fit_transform(x_train)
x_test_scaled = _scaling.transform(x_test)

_reg = LogisticRegression()
log_reg = _reg.fit(x_train_scaled, y_train)

print(log_reg.intercept_)

[0.08730542]

In [180]:
pred = _reg.predict(x_test_scaled)

y_pred_prob = _reg.predict_proba(x_test_scaled)[:,1]

data_prob = pds.DataFrame(x_test)
data_prob['prob_value'] = y_pred_prob
data_prob['prob'] = pred

data_prob

     sex  cp  thalach  exang  oldpeak  ca  thal  prob_value  prob
225    1   0      125      1      2.6   0     3    0.026858     0
152    1   3      155      0      0.6   0     3    0.843861     1
228    1   3      159      0      0.2   0     3    0.892495     1
201    1   0      141      1      2.8   1     3    0.013635     0
52     1   2      146      0      1.8   3     3    0.053054     0
..   ...  ..      ...    ...      ...  ..   ...         ...   ...
3      1   1      178      0      0.8   0     2    0.896377     1
161    0   1      166      0      1.2   0     2    0.953161     1
125    0   1      192      0      0.7   0     2    0.984047     1
24     1   3      178      1      1.4   0     3    0.549259     1
30     0   1      168      0      0.0   1     2    0.955242     1

[152 rows x 9 columns]

In [181]:
print(data_prob['prob'].value_counts())

1    93
0    59
Name: prob, dtype: int64

In [182]:
#pred = _reg.predict(x_test_scaled)

#y_pred_prob = _reg.predict_proba(x_test_scaled)[:,1]

#data_prob = pds.DataFrame(x_test)
#data_prob['pred_value'] = y_pred_prob
#data_prob['prob'] = pred

#data_prob

In [186]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.81      0.70      0.75        69
           1       0.77      0.87      0.82        83

    accuracy                           0.79       152
   macro avg       0.79      0.78      0.78       152
weighted avg       0.79      0.79      0.79       152