In [1]:
import pandas as pds
import seaborn as sbn
import numpy as npy
import matplotlib.pyplot as plb
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report


data_heart = pds.read_csv('../input/disease/heart_logit.csv')
data_heart

,age,sex,cp,restbps,chol,fbs,restecg,thalac,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
data_heart.shape

(303, 14)

In [3]:
data_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      303 non-null    int64
 1   sex      303 non-null    int64
 2   cp       303 non-null    int64
 3   restbps  303 non-null    int64
 4   chol     303 non-null    int64
 5   fbs      303 non-null    int64
 6   restecg  303 non-null    int64
 7   thalac   303 non-null    int64
 8   exang    303 non-null    int64
 9   oldpeak  303 non-null    float64
 10  slope    303 non-null    int64
 11  ca       303 non-null    int64
 12  thal     303 non-null    int64
 13  target   303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
data_heart.isnull().sum()

age        0
sex        0
cp         0
restbps    0
chol       0
fbs        0
restecg    0
thalac     0
exang      0
oldpeak    0
slope      0
ca         0
thal       0
target     0
dtype: int64

In [5]:
data_heart.describe()

,age,sex,cp,restbps,chol,fbs,restecg,thalac,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [16]:
x = data_heart.drop(columns='target')
y = data_heart['target']

x_scaled = StandardScaler().fit_transform(x)

data_scaled = pds.DataFrame(x_scaled, columns=data_heart.columns.drop(['target']))

data_scaled

,age,sex,cp,restbps,chol,fbs,restecg,thalac,exang,oldpeak,slope,ca,thal
0,0.952197,0.681005,1.973123,0.763956,-0.256334,2.394438,-1.005832,0.015443,-0.696631,1.087338,-2.274579,-0.714429,-2.148873
1,-1.915313,0.681005,1.002577,-0.092738,0.072199,-0.417635,0.898962,1.633471,-0.696631,2.122573,-2.274579,-0.714429,-0.512922
2,-1.474158,-1.468418,0.032031,-0.092738,-0.816773,-0.417635,-1.005832,0.977514,-0.696631,0.310912,0.976352,-0.714429,-0.512922
3,0.180175,0.681005,0.032031,-0.663867,-0.198357,-0.417635,0.898962,1.239897,-0.696631,-0.206705,0.976352,-0.714429,-0.512922
4,0.290464,-1.468418,-0.938515,-0.663867,2.082050,-0.417635,0.898962,0.583939,1.435481,-0.379244,0.976352,-0.714429,-0.512922
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.290464,-1.468418,-0.938515,0.478391,-0.101730,-0.417635,0.898962,-1.165281,1.435481,-0.724323,-0.649113,-0.714429,1.123029
299,-1.033002,0.681005,1.973123,-1.234996,0.342756,-0.417635,0.898962,-0.771706,-0.696631,0.138373,-0.649113,-0.714429,1.123029
300,1.503641,0.681005,-0.938515,0.706843,-1.029353,2.394438,0.898962,-0.378132,-0.696631,2.036303,-0.649113,1.244593,1.123029
301,0.290464,0.681005,-0.938515,-0.092738,-2.227533,-0.417635,0.898962,-1.515125,1.435481,0.138373,-0.649113,0.265082,1.123029
302,0.290464,-1.468418,0.032031,-0.092738,-0.198357,-0.417635,-1.005832,1.064975,-0.696631,-0.896862,-0.649113,0.265082,-0.512922

In [17]:
result_log = sm.Logit(y, sm.add_constant(data_scaled)).fit()

print(result_log.summary())

Optimization terminated successfully.
         Current function value: 0.348904
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      289
Method:                           MLE   Df Model:                           13
Date:                Fri, 23 Apr 2021   Pseudo R-squ.:                  0.4937
Time:                        03:28:09   Log-Likelihood:                -105.72
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 7.262e-37
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1165      0.183      0.636      0.524      -0.242       0.475
age           -0.0445      0.210     -0.212      0.832      -0.456       0.367
sex           -0.8180      0.218     -3.751      0.000      -1.245      -0.391
cp             0.8859      0.191      4.638      0.000       0.512       1.260
restbps       -0.3410      0.181     -1.884      0.060      -0.696       0.014
chol          -0.2396      0.196     -1.224      0.221      -0.623       0.144
fbs            0.0124      0.188      0.066      0.947      -0.357       0.381
restecg        0.2448      0.183      1.339      0.181      -0.114       0.603
thalac         0.5308      0.239      2.219      0.026       0.062       1.000
exang         -0.4596      0.192     -2.391      0.017      -0.836      -0.083
oldpeak       -0.6263      0.248     -2.526      0.012      -1.112      -0.140
slope          0.3564      0.215      1.656      0.098      -0.065       0.778
ca            -0.7895      0.195     -4.051      0.000      -1.171      -0.408
thal          -0.5504      0.177     -3.104      0.002      -0.898      -0.203
==============================================================================

In [18]:
data_var_sig = data_scaled.drop(columns=['age', 'restbps', 'chol', 'fbs', 'restecg', 'slope'])

data_var_sig.head()

        sex        cp    thalac     exang   oldpeak        ca      thal
0  0.681005  1.973123  0.015443 -0.696631  1.087338 -0.714429 -2.148873
1  0.681005  1.002577  1.633471 -0.696631  2.122573 -0.714429 -0.512922
2 -1.468418  0.032031  0.977514 -0.696631  0.310912 -0.714429 -0.512922
3  0.681005  0.032031  1.239897 -0.696631 -0.206705 -0.714429 -0.512922
4 -1.468418 -0.938515  0.583939  1.435481 -0.379244 -0.714429 -0.512922

In [19]:
result_log = sm.Logit(y, sm.add_constant(data_var_sig)).fit()

print(result_log.summary())

Optimization terminated successfully.
         Current function value: 0.368502
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  303
Model:                          Logit   Df Residuals:                      295
Method:                           MLE   Df Model:                            7
Date:                Fri, 23 Apr 2021   Pseudo R-squ.:                  0.4653
Time:                        03:28:36   Log-Likelihood:                -111.66
converged:                       True   LL-Null:                       -208.82
Covariance Type:            nonrobust   LLR p-value:                 1.824e-38
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1118      0.174      0.641      0.522      -0.230       0.454
sex           -0.6465      0.189     -3.425      0.001      -1.017      -0.276
cp             0.8111      0.180      4.505      0.000       0.458       1.164
thalac         0.5412      0.202      2.685      0.007       0.146       0.936
exang         -0.4900      0.182     -2.686      0.007      -0.848      -0.132
oldpeak       -0.8585      0.211     -4.061      0.000      -1.273      -0.444
ca            -0.7283      0.178     -4.090      0.000      -1.077      -0.379
thal          -0.5479      0.168     -3.265      0.001      -0.877      -0.219
==============================================================================

In [46]:
x_train, x_test, y_train, y_test = train_test_split(data_var_sig, y, test_size=0.5, random_state=0)

_reg = LogisticRegression()
log_reg = _reg.fit(x_train, y_train)

print(log_reg.intercept_)

[0.17613726]

In [47]:
print(log_reg.coef_)

[[-0.70278547  0.48005609  0.61780237 -0.69290331 -0.94441712 -0.99020668
  -0.56853793]]

In [27]:
y_pred_prob = _reg.predict_proba(x_test)[:,1]
y_pred_prob

array([0.02618821, 0.84542776, 0.89408332, 0.01317064, 0.05228545,
       0.66375905, 0.03154623, 0.1770568 , 0.00689753, 0.00338588,
       0.7456503 , 0.96914442, 0.03851634, 0.89375817, 0.94980083,
       0.46828494, 0.08187907, 0.77776877, 0.00366087, 0.89321133,
       0.91227745, 0.35602316, 0.09455543, 0.11955225, 0.8939995 ,
       0.42998993, 0.16616085, 0.46040757, 0.98340214, 0.65602536,
       0.55180793, 0.02160564, 0.98041117, 0.818149  , 0.93700389,
       0.8068098 , 0.01406868, 0.93031559, 0.1190177 , 0.18140296,
       0.89430254, 0.91444129, 0.29959507, 0.07301629, 0.21750185,
       0.86554076, 0.79801615, 0.61762526, 0.05735547, 0.85100402,
       0.92291525, 0.54192435, 0.95870069, 0.92379116, 0.99192759,
       0.06500481, 0.94193384, 0.96232223, 0.8026047 , 0.95211014,
       0.82122403, 0.9862112 , 0.95737792, 0.94894172, 0.77561537,
       0.81146046, 0.67164029, 0.32799016, 0.78829898, 0.74659852,
       0.63297643, 0.96536467, 0.92854363, 0.07050546, 0.07369099,
       0.78563749, 0.08797577, 0.70796981, 0.66567508, 0.18181974,
       0.00428783, 0.01609031, 0.11329564, 0.32275062, 0.04806699,
       0.79688676, 0.03766687, 0.71813549, 0.72987919, 0.20362699,
       0.07744306, 0.8558256 , 0.80507674, 0.02498232, 0.96712659,
       0.04028039, 0.09829665, 0.01182759, 0.9644499 , 0.1346803 ,
       0.07238406, 0.99026341, 0.01227868, 0.71718298, 0.18318946,
       0.90950646, 0.97364008, 0.92810243, 0.32034842, 0.90140375,
       0.04477555, 0.18726666, 0.49561535, 0.05941308, 0.03745065,
       0.02576931, 0.76743257, 0.86196663, 0.92882659, 0.57229262,
       0.98457414, 0.92535652, 0.81341119, 0.56281693, 0.8489767 ,
       0.81718188, 0.83110343, 0.5786614 , 0.99026341, 0.93810002,
       0.96574373, 0.19040875, 0.81648551, 0.81470882, 0.90947998,
       0.13352098, 0.78299599, 0.97698596, 0.00205983, 0.11474581,
       0.68840413, 0.78843271, 0.83473181, 0.70502215, 0.4693026 ,
       0.81900416, 0.79328311, 0.89621753, 0.9533082 , 0.98411205,
       0.54771065, 0.95598359])

In [28]:
pred = _reg.predict(x_test)
pred

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1])

In [96]:
data_prob = pds.DataFrame(x_test)
data_prob['prob_value'] = y_pred_prob
data_prob['prob'] = pred

data_prob

,sex,cp,thalac,exang,oldpeak,ca,thal,prob_value,prob
225,0.681005,-0.938515,-1.077820,1.435481,1.346147,-0.714429,1.123029,0.026188,0
152,0.681005,1.973123,0.234095,-0.696631,-0.379244,-0.714429,1.123029,0.845428,1
228,0.681005,1.973123,0.409017,-0.696631,-0.724323,-0.714429,1.123029,0.894083,1
201,0.681005,-0.938515,-0.378132,1.435481,1.518686,0.265082,1.123029,0.013171,0
52,0.681005,1.002577,-0.159479,-0.696631,0.655990,2.224104,1.123029,0.052285,0
...,...,...,...,...,...,...,...,...,...
3,0.681005,0.032031,1.239897,-0.696631,-0.206705,-0.714429,-0.512922,0.896218,1
161,-1.468418,0.032031,0.715131,-0.696631,0.138373,-0.714429,-0.512922,0.953308,1
125,-1.468418,0.032031,1.852124,-0.696631,-0.292975,-0.714429,-0.512922,0.984112,1
24,0.681005,1.973123,1.239897,1.435481,0.310912,-0.714429,1.123029,0.547711,1
30,-1.468418,0.032031,0.802592,-0.696631,-0.896862,0.265082,-0.512922,0.955984,1

In [98]:
print(data_prob['prob'].value_counts())

1    93
0    59
Name: prob, dtype: int64

In [99]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.81      0.70      0.75        69
           1       0.77      0.87      0.82        83

    accuracy                           0.79       152
   macro avg       0.79      0.78      0.78       152
weighted avg       0.79      0.79      0.79       152

In [100]:
def f_logit(x_sig, y_sig):
    f_x = StandardScaler().fit_transform(x_sig)
    f_reg = LogisticRegression()
    f_log_reg = _reg.fit(f_x, y_sig)
    f_pred = _reg.predict(f_x)
    f_pred_prob = _reg.predict_proba(f_x)[:,1]
    
    f_intercept = f_log_reg.intercept_
    f_coef = f_log_reg.coef_
    
    y = 0
    prob = 0
    y_prob = []
    
    for i in f_x:
        for j in range(0,7):
            y += f_coef[0,j] * i[j]
        else:
            prob = 1/(1+npy.exp(-(f_intercept + y)))
            y_prob.append(float(prob))
    
    data_result = pds.DataFrame(x_sig, columns=['sex','cp','thalac','exang','oldpeak','ca','thal'])
    data_result['pred_prob'] = f_pred_prob
    data_result['pred'] = f_pred
    data_result['y_prob'] = y_prob
     
    return data_result

In [101]:
x = data_heart.drop(columns=['age', 'restbps', 'chol', 'fbs', 'restecg', 'slope','target'])
y = data_heart['target']

_result = f_logit(x, y)

y_pred = []

for i in _result['y_prob']:
    if (i < 0.5): y_pred.append(0)
    elif (i >= 0.5): y_pred.append(1)

_result['y_pred'] = y_pred
_result

,sex,cp,thalac,exang,oldpeak,ca,thal,pred_prob,pred,y_prob,y_pred
0,1,3,150,0,2.3,0,1,0.911017,1,0.911017,1
1,1,2,187,0,3.5,0,2,0.670812,1,0.948789,1
2,0,1,172,0,1.4,0,2,0.918499,1,0.994636,1
3,1,1,178,0,0.8,0,2,0.839617,1,0.998841,1
4,0,0,163,1,0.6,0,2,0.730897,1,0.999519,1
...,...,...,...,...,...,...,...,...,...,...,...
298,0,0,123,1,0.2,0,3,0.375323,0,0.986904,1
299,1,3,132,0,1.2,0,3,0.721550,1,0.994267,1
300,1,0,141,0,3.4,2,3,0.017429,0,0.732030,1
301,1,0,115,1,1.2,1,3,0.031771,0,0.073733,0
302,0,1,174,0,0.0,1,2,0.940932,1,0.529649,1

In [102]:
print(_result['pred'].value_counts())

1    182
0    121
Name: pred, dtype: int64

In [103]:
print(_result['y_pred'].value_counts())

1    302
0      1
Name: y_pred, dtype: int64

In [ ]:
x = data_heart.drop(columns=['age', 'restbps', 'chol', 'fbs', 'restecg', 'slope','target'])
y = data_heart['target']


f_x = StandardScaler().fit_transform(x)
f_reg = LogisticRegression()
f_log_reg = _reg.fit(f_x, y)
f_intercept = f_log_reg.intercept_
f_coef = f_log_reg.coef_

x1 = f_log_reg.coef_[0,0] * f_x[0,0]
x2 = f_log_reg.coef_[0,1] * f_x[0,1]
x3 = f_log_reg.coef_[0,2] * f_x[0,2]
x4 = f_log_reg.coef_[0,3] * f_x[0,3]
x5 = f_log_reg.coef_[0,4] * f_x[0,4]
x6 = f_log_reg.coef_[0,5] * f_x[0,5]
x7 = f_log_reg.coef_[0,6] * f_x[0,6]

print(x1,';',x2,';',x3,';',x4,';',x5,';',x6,';',x7)

#print(f_x[0])
#print(f_coef[0,0])

pers = f_intercept + x1 + x2 + x3 + x4 + x5 + x6 + x7

print(pers)

prob = 1/(1 + npy.exp(pers))

print(prob)